apiVersion: ssmd.ssmd.io/v1alpha1
kind: Archiver
metadata:
  name: kalshi-2026-01-04
  namespace: ssmd
spec:
  feed: kalshi
  date: "2026-01-04"
  image: ghcr.io/aaronwald/ssmd-archiver:0.4.8
  source:
    stream: PROD_KALSHI
    url: nats://nats.nats:4222
    consumer: archiver-2026-01-04
  storage:
    local:
      path: /data/ssmd
      pvcName: ssmd-archiver-data
  rotation:
    maxFileAge: "15m"
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
