[package]
name = "ssmd-middleware"
version.workspace = true
edition.workspace = true

[dependencies]
tokio = { workspace = true }
async-trait = { workspace = true }
thiserror = { workspace = true }
bytes = { workspace = true }
tracing = { workspace = true }
md5 = "0.7"
ssmd-metadata = { path = "../metadata" }

[dev-dependencies]
tempfile = { workspace = true }
